<!DOCTYPE html>
<html>
<head>
    <title>NHL Score Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="nhl_style.css">
</head>
<body>
    <div class="form-section col-lg-6 col-md-6 col-sm-6">
    <form action="/result" method="GET"> <!-- Set the route to be sent as a request to the server -->
        <h1 class="hockey-title">Hockey Game Result Form</h1>
        <div class="form-group">
            <label>Away Team:</label> <!-- Allow user to select away team -->
            <select name="away" class="form-control">
                    <option>ANA - Anaheim Ducks</option>
                    <option>ARI - Arizona Coyotes</option>
                    <option>BOS - Boston Bruins</option>
                    <option>BUF - Buffalo Sabres</option>
                    <option>CAR - Carolina Hurricanes</option>
                    <option>CBJ - Columbus Blue Jackets</option>
                    <option>CGY - Calgary Flames</option>
                    <option>CHI - Chicago Blackhawks</option>
                    <option>COL - Colorado Avalanche</option>
                    <option>DAL - Dallas Stars</option>
                    <option>DET - Detroit Red Wings</option>
                    <option>EDM - Edmonton Oilers</option>
                    <option>FLO - Florida Panthers</option>
                    <option>LAK - Los Angeles Kings</option>
                    <option>MIN - Minnesota Wild</option>
                    <option>MTL - Montreal Toilettes</option>
                    <option>NJD - New Jersey Sinners</option>
                    <option>NSH - Nashville Predators</option>
                    <option>NYI - New York Islanders</option>
                    <option>NYR - New York Rangers</option>
                    <option>OTT - Ottawa Senators</option>
                    <option>PHI - Philadelphia Flyers</option>
                    <option>PIT - Pittsburgh Penguins</option>
                    <option>SJS - San Jose Sharks</option>
                    <option>STL - St. Louis Blues</option>
                    <option>TOR - Toronto Maple Leafs</option>
                    <option>VAN - Vancouver Canucks</option>
                    <option>VGK - Vegas Golden Knights</option>
                    <option>WPJ - Winnipeg Jets</option>
                    <option>WSH - Washington Capitals</option>
            </select>
        </div>
        <div class="form-group">
            <label>Home Team:</label> <!-- Allow user to select home team -->
            <select name="home" class="form-control">
                <option>ANA - Anaheim Ducks</option>
                <option>ARI - Arizona Coyotes</option>
                <option>BOS - Boston Bruins</option>
                <option>BUF - Buffalo Sabres</option>
                <option>CAR - Carolina Hurricanes</option>
                <option>CBJ - Columbus Blue Jackets</option>
                <option>CGY - Calgary Flames</option>
                <option>CHI - Chicago Blackhawks</option>
                <option>COL - Colorado Avalanche</option>
                <option>DAL - Dallas Stars</option>
                <option>DET - Detroit Red Wings</option>
                <option>EDM - Edmonton Oilers</option>
                <option>FLO - Florida Panthers</option>
                <option>LAK - Los Angeles Kings</option>
                <option>MIN - Minnesota Wild</option>
                <option>MTL - Montreal Toilettes</option>
                <option>NJD - New Jersey Sinners</option>
                <option>NSH - Nashville Predators</option>
                <option>NYI - New York Islanders</option>
                <option>NYR - New York Rangers</option>
                <option>OTT - Ottawa Senators</option>
                <option>PHI - Philadelphia Flyers</option>
                <option>PIT - Pittsburgh Penguins</option>
                <option>SJS - San Jose Sharks</option>
                <option>STL - St. Louis Blues</option>
                <option>TOR - Toronto Maple Leafs</option>
                <option>VAN - Vancouver Canucks</option>
                <option>VGK - Vegas Golden Knights</option>
                <option>WPJ - Winnipeg Jets</option>
                <option>WSH - Washington Capitals</option>
            </select>
        </div>
        <div class="form-group" class="form-control"> <!-- User to set date values -->
            <label>Date:</label><br>
            <input type="text" name="year" placeholder="Year (YYYY)"/>
            <input type="text" name="month" placeholder="Month (MM)"/>
            <input type="text" name="day" placeholder="Day (DD)"/>
        </div>
        <div class="form-group">
            <label>Season Year (Starting from 2007-2008):</label><br> <!-- User to set the season (starting from 2007-2008) -->
            <input type="text" name="startYear" placeholder="Start Year"/>
            <input type="text" name="endYear" placeholder="End Year"/>
        </div>
        <div class="form-group">
            <label>Type of Season:</label><br> <!-- Type of season, regular or playoffs -->
            <select name="season">
                <option>regular</option>
                <option>playoff</option>
            </select>
        </div>
        <div class="complete">
            <input class="btn btn-success" type="submit" name="submit"/> <!-- Submit values to the server, to be used to render the response -->
        </div>
    </form>
    </div>
</body>
</html>